/********** TYPOGRAPHY **********/
$roboto: 'Roboto Slab', serif;
$monda: "Monda", sans-serif;
/********** END OF TYPOGRAPHY **********/

/********** FOOTER SECTION **********/
footer {
    width: 100%;
    height: 25vh;
    color: whitesmoke;
    margin: 5% auto;
    .footer-nav {
        //display: inline-block;
        display: flex;
        flex-direction: column;
        width: 100%;
        line-height: 1.75rem;
        padding: 0;
        justify-content: center;
        text-align: center;
        border-bottom: 1px solid #8C92AC;
        padding-bottom: 20px;
        
        li a {
            color: #8C92AC;
            font-size: 1rem;
            font-family: $monda;
            margin: 0 2px;
            //text-shadow: 1px 1px #fff;
        }
    }
    .social-media {
        display: flex;
        flex-direction: column;
        text-align: center;
        //width: 100%;
        line-height: 1.75rem;
        //padding: 0;
        justify-content: center;
        text-align: center;
        // li a {
        //     display-direction: row;
        // }
    
        p {
            margin: 30px 0 0 0;
        }
        ul {
            padding: 0;
            line-height: 1.5rem;
            //margin: 5% 18%;
            justify-content: center;
            .fa {
                padding: 20px 20px;
                font-size: 1.5rem;
                //margin: 0 auto;
            }
        }
        
    }
    .social-media-text {
        color: #8C92AC;
        font-size: 2rem;
        font-weight: 800;
        font-family: $roboto;
    }
}
/********** END OF FOOTER SECTION **********/


/********** MEDIA QUERIES **********/
//@media(min-width: 768) and 
@media (min-width: 1200px) {
    footer {
        height: 5vh;
        .footer-nav {
            flex-direction: row;
            li a {
                display: flex;
                padding: 0 10px;
            }
        }
    }
}
/********** END OF MEDIA QUERIES **********/