/********** TYPOGRAPHY **********/
$roboto: 'Roboto Slab', serif;
$monda: "Monda", sans-serif;
/********** END OF TYPOGRAPHY **********/

/********** START OF SERVICES SECTION **********/
.services {
    display: flex;
    justify-content: center;
    text-align: center;
    color: whitesmoke;
    margin: 10%;
    h2 {
        font-family: $roboto;
        margin-bottom: 15px;
        font-size: 3rem;
    }
    li {
        font-family: $monda;
        line-height: 1.75rem;
    }
}
/********** END OF SERVICES SECTION **********/

/********** START OF CONTACT FORM **********/
div {
    background-color: #000;
    color: whitesmoke;
    h2 {
        font-family: $roboto;
    }
    .contact-form {
        //color: whitesmoke;
        font-family: $monda;
        background-color: #43485E;
        margin: 5% 10%;
        padding: 3%;
        border-radius: 20px;
        line-height: 2.5rem;
        text-align: center;
        label {
            font-size: 0.9em;
        }
        input {
            width: 50%;
            font-size: 1rem;
            border-radius: 10px;
            padding: 0 0 0 10px;
            border: none;
        }
        select {
            border-radius: 10px;
            border: none;
            outline: none;
            text-align: center;
            //background-color: none;
            option:hover {
                background-color: #43485E !important;
            }
        }
        
        textarea {
            width: 75%;
            height: 10vh;
            border-radius: 20px;
            border: none;
        }
    }
}

/********** END OF CONTACT FORM **********/

@media (min-width: 768px) and (max-width: 1199.87px){
    div {
        .contact-form {
            margin: 5% 25%;
        }
    }
}

@media (min-width: 1200px) {
    div {
        .contact-form {
            margin: 5% 30%;
        }
    }
}