* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  color: whitesmoke;
  position: relative;
  background-color: #43485E;
  text-align: center;
}

.hero .hero-text {
  margin: 0 auto;
  padding: 3vh 0;
}

.hero .hero-text h1 {
  margin: 0;
  text-align: center;
  font-size: 10vh;
  font-family: 'Roboto Slab', serif;
  text-shadow: 3px 4px #000;
}

.hero .hero-text h2 {
  font-size: 4vh;
  font-family: "Monda", sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px #000;
}

.hero .hero-text h3 {
  font-size: 3vh;
  font-family: "Monda", sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px #000;
}

.hero .hero-img {
  background-image: url("../img/buildpc.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.featured-items {
  margin-top: 35vh;
  color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 10px;
}

.featured-items .featured-card-one, .featured-items .featured-card-two {
  text-align: center;
  margin: 10%;
}

.featured-items .featured-card-one .featured-heading1, .featured-items .featured-card-two .featured-heading1 {
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.featured-items .featured-card-one .featured-subheading, .featured-items .featured-card-two .featured-subheading {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
  font-family: "Monda", sans-serif;
}

.featured-items .featured-card-one .featured-img, .featured-items .featured-card-two .featured-img {
  width: 100%;
  height: 100%;
}

.featured-items .featured-card-one .featured-article, .featured-items .featured-card-two .featured-article {
  margin: 0;
  font-family: "Monda", sans-serif;
  padding: 5px 0;
}

.featured-items .featured-card-one .row, .featured-items .featured-card-two .row {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 15px;
}

.featured-items .featured-card-one .row li img, .featured-items .featured-card-two .row li img {
  width: 100%;
}

.banner1 {
  height: calc(100vh - 40vh);
  width: 100%;
  background-color: #111;
  position: relative;
}

.banner1 .banner1-text {
  color: whitesmoke;
  position: absolute;
  bottom: 2vh;
  left: 3vh;
  font-family: 'Roboto Slab', serif;
  text-align: left;
  font-size: 1.25rem;
}

.banner1-image {
  background-image: url("../img/razer-blackwidow-v3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

@media (min-width: 768px) {
  .hero {
    height: 150vh;
  }
  .hero .hero-text {
    height: 30vh;
  }
  .hero .hero-img {
    background-size: cover;
  }
  .banner1 {
    height: 80vh;
  }
  .featured-items .featured-card {
    width: 50% !important;
  }
}
/*# sourceMappingURL=body.css.map */