* {
    margin: 0;
    padding: 0;
    // background: #000 !important;
    // color: #0f0 !important;
    // outline: solid #f00 1px !important;
}

body {
    background-color: #000;
    overflow-x: hidden;
    
}
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
    width: 50%;
}

.hero {
    display: flex;
    justify-content: center;
    //align-items: center;
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    position: relative;
    background-color: #43485E;
    //background-color: #ce5e69;
    text-align: center;
    //margin-bottom: 20px;
    .hero-text {
        //margin-top: -10vh;
        margin: 0 auto;
        padding: 3vh 0;
        //text-shadow: 2px 3px #000;
        //padding-bottom: 8vh;
        h1 {
            margin: 0;
            text-align: center;
            font-size: 10vh;
            font-family: 'Roboto Slab', serif;
            text-shadow: 3px 4px #000;
        }
        h2 {
            font-size: 4vh;
            font-family: "Monda", sans-serif;
            font-weight: 300;
            text-shadow: 2px 2px #000;
        }
        h3 {
            font-size: 3vh;
            font-family: "Monda", sans-serif;
            font-weight: 300;
            text-shadow: 2px 2px #000;
        }
        
    }
    .hero-img {
        background-image: url("../img/buildpc.jpg");
        background-size: cover;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        //position: absolute;
        //z-index: -1;
        //filter: contrast(70%);
    }
     
}

.featured-items {
    margin-top: 30vh;
    color: whitesmoke;
    display: grid;
    grid-template-columns: auto;
    gap: 10px;
    //grid-auto-rows: minmax(500px, auto);
    .featured-card-one, .featured-card-two {
        // height: 50vh;
        // width: 80vw;
        // margin: 20% 10%;
        //width: 100%;
        //justify-content: center;
        text-align: center;
        margin: 10%;
        .featured-heading1 {
            font-size: 5rem;
            font-weight: 800;
            margin: 0;
            font-family: 'Roboto Slab', serif;
        }
        .featured-subheading {
            font-size: 1.25rem;
            font-weight: 300;
            margin: 0;
            //padding: 5px 0;
            font-family: "Monda", sans-serif;
        }
        .featured-img {
            width: 100%;
            height: 100%;  
        }
        .featured-article {
            margin: 0;
            font-family: "Monda", sans-serif;  
            padding: 5px 0;
        }

        .row {
            margin: 0;
            display: grid;
            grid-template-columns: auto;
            grid-gap: 15px;
            li img {
                width: 100%;
                //height: 300px;
            }
        }

    }

}

$banner-height: calc(100vh - 40vh);
.banner1 {
    height: $banner-height;
    width: 100%;
    background-color: #111;
    position: relative;

    .banner1-text {
        color: whitesmoke;
        position: absolute;
        bottom: 2vh;
        left: 3vh;
        font-family: 'Roboto Slab', serif;
        text-align: left;
        font-size: 1.25rem;
    }
}

.banner1-image {
    background-image: url("../img/razer-blackwidow-v3.jpg");
    //object-fit: contain;
    background-size: contain;
    background-repeat: no-repeat;
}

//Hover effects on Images
    .grow img{
        transition: 1s ease;
    }
    .grow img:hover {
        //position: relative;
        -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
        transform: scale(1.2);
        transition: 1s ease;
    }


//$hero-height: calc(100vh - 10vh);
@media (min-width:768px) and (max-width:1199.87px) {
    .hero {
        height: 100vh;
        display: flex;
        .hero-text {
            margin-top: 35%;
            width: 45%;
        }
        .hero-img {
            width: 55%;
            //object-fit: contain;
            background-size: cover;
        }
    }

    .banner1 {
        height: 80vh;
    }
    .featured-items {
        //flex-direction: row;
        margin: 0;
    }

}

@media (min-width:1200px){
    .hero {
        height: 100vh;
        .hero-text {
            width: 35%;
            margin-top: 15%;
            //height: 30vh;
        }
        .hero-img {
            width: 65%;
            //object-fit: contain;
            background-size: cover;
        }
    }
    .featured-items {
        margin: 2%;
        grid-template-columns: auto auto;
        height: 100vh;
        .featured-card-one {
            width: 100%;
            margin: 10% 0 0 0;
        }
        .featured-card-two {
            width: 100%;
            margin: 5% 0;
            .featured-article {
                padding-bottom: 10%;
            }
        }
        .row {
            //justify-content: space-around;
            grid-template-columns: repeat(3, minmax(150px, 350px)) !important;
            grid-template-rows: minmax(100px, max-content);
            grid-gap: 20px;
            //text-align: center;
            li {
                
                .one, .two, .three, .four, .five, .six{
                    max-width: 350px !important;
                    max-height: 200px;
                    //height: 150px;
                    //padding: 20% 0 0 0;
                    //align-items: center;
                }
        
            }
            .grow img:hover {
                //position: absolute;
                //z-index: 11;
                -webkit-transform: scale(1.5);
                -ms-transform: scale(1.5);
                transform: scale(1.5);
                transition: 1s ease;
            }
        }
    }
    .banner1 {
        .banner1-text {
            color: whitesmoke;
            position: absolute;
            top: 20vh;
            left: 55vw;
            font-family: 'Roboto Slab', serif;
            text-align: left;
            font-size: 1.75rem;
            line-height: 2.5rem;
        }
    }
}