/********** RESETS **********/
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
  overflow-x: hidden;
}

/********** END OF RESETS **********/
.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

/********** HERO SECTION **********/
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100vh;
  color: whitesmoke;
  position: relative;
  background-color: #43485E;
  text-align: center;
}

.hero .hero-text {
  margin: 0 auto;
  padding: 3vh 0;
}

.hero .hero-text h1 {
  margin: 0;
  text-align: center;
  font-size: 10vh;
  font-family: 'Roboto Slab', serif;
  text-shadow: 3px 4px #000;
}

.hero .hero-text h2 {
  font-size: 4vh;
  font-family: "Monda", sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px #000;
}

.hero .hero-text h3 {
  font-size: 3vh;
  font-family: "Monda", sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px #000;
}

.hero .hero-img {
  background-image: url("../img/buildpc.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

/********** END OF HERO SECTION **********/
/********** FEATURED SECTION **********/
.featured-items {
  margin-top: 30vh;
  color: whitesmoke;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  gap: 10px;
}

.featured-items .featured-card-one, .featured-items .featured-card-two {
  text-align: center;
  margin: 10%;
}

.featured-items .featured-card-one .featured-heading1, .featured-items .featured-card-two .featured-heading1 {
  font-size: 5rem;
  font-weight: 800;
  margin: 0;
  font-family: 'Roboto Slab', serif;
}

.featured-items .featured-card-one .featured-subheading, .featured-items .featured-card-two .featured-subheading {
  font-size: 1.25rem;
  font-weight: 300;
  margin: 0;
  font-family: "Monda", sans-serif;
}

.featured-items .featured-card-one .featured-img, .featured-items .featured-card-two .featured-img {
  width: 100%;
  height: 100%;
}

.featured-items .featured-card-one .featured-article, .featured-items .featured-card-two .featured-article {
  margin: 0;
  font-family: "Monda", sans-serif;
  padding: 5px 0;
}

.featured-items .featured-card-one .row, .featured-items .featured-card-two .row {
  margin: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  grid-gap: 15px;
}

.featured-items .featured-card-one .row li img, .featured-items .featured-card-two .row li img {
  width: 100%;
}

.featured-items .featured-card-one .grow img, .featured-items .featured-card-two .grow img {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.featured-items .featured-card-one .grow img:hover, .featured-items .featured-card-two .grow img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

/********** END OF FEATURED SECTION **********/
/********** BANNER 1 SECTION **********/
.banner1 {
  height: calc(100vh - 40vh);
  width: 100%;
  background-color: #111;
  position: relative;
}

.banner1 .banner1-text {
  color: whitesmoke;
  position: absolute;
  bottom: 2vh;
  left: 3vh;
  font-family: 'Roboto Slab', serif;
  text-align: left;
  font-size: 1.25rem;
}

.banner1-image {
  background-image: url("../img/razer-blackwidow-v3.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

/********** END OF BANNER 1 SECTION **********/
/********** BANNER 2 SECTION **********/
.banner2 {
  height: calc(100vh - 40vh);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 100vh;
  background-image: url("../img/hexagon-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner2 .outer-diamond {
  z-index: 3;
  width: 300px;
  height: 300px;
  border: 10px solid whitesmoke;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.banner2 .outer-diamond .banner2-sale {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 3;
  width: 250px;
  height: 250px;
  border: 3px solid #43485E;
  outline: 1px solid whitesmoke;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8%;
}

.banner2 .outer-diamond .banner2-sale p {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  z-index: 4;
  color: whitesmoke;
  font-size: 10vh;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  padding: 15% 5%;
}

.banner2 .banner2-text {
  color: whitesmoke;
  margin: 15vw 5vw 0 5vw;
}

.banner2 .banner2-text h4, .banner2 .banner2-text p {
  text-align: center;
}

.banner2 .banner2-text h4 {
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  line-height: 2em;
}

.banner2 .banner2-text p {
  font-family: "Monda", sans-serif;
  line-height: 1.2em;
}

.banner2 .banner2-text p a {
  color: whitesmoke;
  border-bottom: 2px solid whitesmoke;
}

/********** END OF BANNER 2 SECTION **********/
/********** MEDIA QUERIES **********/
@media (min-width: 768px) and (max-width: 1199.87px) {
  .hero {
    height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .hero .hero-text {
    margin-top: 35%;
    width: 45%;
  }
  .hero .hero-img {
    width: 55%;
    background-size: cover;
  }
  .banner1 {
    height: 80vh;
  }
  .featured-items {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .hero {
    height: 100vh;
  }
  .hero .hero-text {
    width: 35%;
    margin-top: 15%;
  }
  .hero .hero-img {
    width: 65%;
    background-size: cover;
  }
  .featured-items {
    margin: 2%;
    -ms-grid-columns: auto auto;
        grid-template-columns: auto auto;
  }
  .featured-items .featured-card-one {
    width: 100%;
    margin: 10% 0 0 0;
  }
  .featured-items .featured-card-two {
    width: 100%;
    margin: 5% 0;
  }
  .featured-items .featured-card-two .featured-article {
    padding-bottom: 10%;
  }
  .featured-items .row {
    -ms-grid-columns: (minmax(150px, 350px))[2] !important;
        grid-template-columns: repeat(2, minmax(150px, 350px)) !important;
    -ms-grid-rows: minmax(100px, max-content);
        grid-template-rows: minmax(100px, -webkit-max-content);
        grid-template-rows: minmax(100px, max-content);
    grid-gap: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .featured-items .row li .one, .featured-items .row li .two, .featured-items .row li .three, .featured-items .row li .four, .featured-items .row li .five, .featured-items .row li .six {
    max-width: 350px !important;
    max-height: 200px;
  }
  .featured-items .row .grow img:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: 1s ease;
    transition: 1s ease;
  }
  .banner1 .banner1-text {
    color: whitesmoke;
    position: absolute;
    top: 20vh;
    left: 55vw;
    font-family: 'Roboto Slab', serif;
    text-align: left;
    font-size: 1.75rem;
    line-height: 2.5rem;
  }
}

/********** END OF MEDIA QUERIES **********/
/*# sourceMappingURL=body.css.map */