@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

/********** TYPOGRAPHY **********/
$roboto: 'Roboto Slab', serif;
$monda: "Monda", sans-serif;
/********** END OF TYPOGRAPHY **********/

li, a {
  text-decoration: none;
  list-style: none;
}

.flex {
  display: flex;
  gap: var(--gap, 1.75rem);
}


/********** NAVIGATION **********/
//conatiner of nav element
//base
.primary-header {
  align-items: center;
  justify-content: space-between;
  margin: 1rem 2rem;
  //background-color: #111;
  //width: 100%;
}

//necessary for slide-out nav
//placed in the ul element within the nav element to be able to select li and a
.primary-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: $monda;//
  font-weight: 600;
  
  //selecting li and a elements to change it's colors and add depth by 
  //using text-shadow
  li  a {
    //margin-bottom: 5px;
    display: inline-block;
    color: whitesmoke;
    text-shadow: 2px 2px #000;
  }
  
  //underline effect on hover set-up
  li a::after {
    display:block;
    content: '';
    border-bottom: solid 3px whitesmoke;  
    transform: scaleX(0);  
    transition: transform 300ms ease-in-out;
  }

  li a:hover::after {
    transform: scaleX(1);
  }
  
}

//set logo width in the navigation
.logo {
  width: 50px;
}

//necessary for slide-out nav for button
//added as the toggle button to make the navigation slide out
//in smaller screens
.toggle-nav {
  display: none;
}

//not necessary for nav menu
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

/********** SLIDE OUT NAVIGATION **********/
//slide out navigation will be visible until 768px

/********** MEDIA QUERIES **********/
@media (max-width: 768px) {
  .primary-header{
    //adding necessary css fro slide out nav bar
    .primary-nav {
      --gap: 2em;
      position: fixed;
      z-index: 1000;
      inset: 0 0 0 40%;
      flex-direction: column;
      padding: 20vh 3em;
      font-size: 1.35rem;
      //background: lighten(steelblue, 100);
      background: rgba(#8C92AC, 0.5);
      backdrop-filter: blur(0.3rem);
      // transform: translateX(100%)
      // transition: transform 350ms ease-out;
    }

    //animation responsible for nav menu to slide out and be seen
    .primary-nav {
      transform: translateX(100%);
      transition: transform 1s ease-in;
    }

    //animation responsible for nav menu to slide in and to be hidden
    .primary-nav[data-visible="true"] {
      transform: translateX(0%);
      transition: transform 1s ease-in;
    }

    //responsible for the hamburger menu
    .toggle-nav {
        display: block;
        position: absolute;
        z-index: 9999;
        background: url("../img/menu.png");//change image for hamburger menu
        background-size: cover;
        background-repeat: no-repeat;
        width: 1.75rem;
        border: 0;
        aspect-ratio: 1;
        top:2rem;
        right: 2rem;
        
    }
  }
  //add the JS too
}
/********** END OF MEDIA QUERIES **********/