@import url("https://fonts.googleapis.com/css2?family=Monda&display=swap");

li,
a {
  text-decoration: none;
}

.flex {
  display: flex;
  gap: var(--gap, 1rem);
}

.logo {
  width: 50px;
}

.primary-header {
  align-items: center;
  justify-content: space-between;
  margin: 1rem;
}

.primary-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  font-family: "Monda", sans-serif;
  font-weight: 600;
}

.primary-nav > li > a {
  color: #931656;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

@media (max-width: 768px) {
  .primary-nav {
    --gap: 2em;
    position: fixed;
    z-index: 1000;
    inset: 0 0 0 40%;
    flex-direction: column;
    padding: 20vh 2em;
    //background: lighten(steelblue, 100);
    background: rgba(#fff, 0.3);
    backdrop-filter: blur(0.3rem);
  }
  
  .toggle-nav {
      position: absolute;
      z-index: 9999;
      background: url("../img/menu.png");
      background-size: cover;
      background-repeat: no-repeat;
      width: 2rem;
      border: 0;
      aspect-ratio: 1;
      top:2rem;
      right: 2rem;
  }

  
}
