/********** Sale Items Section **********/
/********** TYPOGRAPHY **********/
$roboto: 'Roboto Slab', serif;
$monda: "Monda", sans-serif;
/********** END OF TYPOGRAPHY **********/
h1 {
    font-family: $roboto;
    color: whitesmoke;
    text-align: center;
    line-height: 2.75rem;
    margin: 5% 0;
    //border-bottom: 2px solid;
}

.items-wrapper {
    display: flex;
    justify-content: center;
    color: whitesmoke;
    margin: 20px;
    .sale-items {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 20px;
        margin: 0 auto;
        text-align: center;
        
        .item-cards::before{
            content: "";
            filter: blur(2rem);
            opacity: 0.1;
            //background-image: linear-gradient(to right bottom, #111111, #1b1b1e, #25242c, #2e2f3a, #373949, #373949, #373949, #373949, #2e2f3a, #25242c, #1b1b1e, #111111);
        }
        .item-cards {
            width: 300px;
            height: 400px;
            background-image: linear-gradient(to right bottom, #111111, #1b1b1e, #25242c, #2e2f3a, #373949, #373949, #373949, #373949, #2e2f3a, #25242c, #1b1b1e, #111111);
            border-radius: 30px;
            line-height: 2.25rem;
            padding: 15px;
            img {
                //filter: blur(0);
                width: 300px;
                height: 200px;
                border-radius: 30px;
                padding-bottom: 10px;
            }
            h3 {
                font-family: $roboto;
                font-weight: 300;
            }
            p {
                font-weight: 100;
                font-family: $monda;
            }
            span {
                text-decoration: line-through;
                text-decoration-thickness: 0.2em;
            }
            
            .shopping-cart {
                display: inline-block;
                padding: 10px;
                width: 120px;
                color: whitesmoke;
                border-radius: 15px;
                background-color: #111;
                border: none;
            }
        }
    }
}
/********** End of Sale Items Section **********/

@media (min-width: 768px) and (max-width: 1199.87px){
    .items-wrapper {
        .sale-items {
            grid-template-columns: auto auto;
        }
    }
}

@media (min-width: 1200px) {
    .items-wrapper {
        .sale-items {
            grid-template-columns: auto auto auto;
            grid-gap: 30px;
        }
    }
}